h1{
    text-align: center;
}

#new-book-btn,
#add-new-book-btn{
   
    display: block;
    margin: auto;

    border-radius: 5px;
    padding: 10px 50px;
}

form {
    display: flex;
    flex-direction: column;
}



.displayed-item {
    display: flex;
    gap: 20px;
    border: solid 1px red;
}

.displayed-item-btn {
    border-radius: 5px;
    border: solid 1px red;
}